<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
        />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Avo Sport</title>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
        <link rel="stylesheet" href="css/styles.min.css" />
        <link rel="stylesheet" href="css/media.min.css" />
    </head>
    <body>
        <div id="wrapper">
            <header id="header" class="header">
                <a href="" class="header__logo">
                    <img src="images/logo.svg" alt="" />
                </a>

                <div class="burger-menu">
                    <span></span>
                    <span></span>
                </div>

                <div class="header__content">
                    <nav class="header__element navigation">
                        <ul class="navigation__list">
                            <li class="navigation__item navigation__item--mobile">
                                <a href="" class="header__link">
                                    <picture>
                                        <source srcset="images/fox.webp" type="image/webp" class="header__element header__icon">
                                        <img src="images/fox.png" alt="" class="header__element header__icon" />
                                    </picture>
                                </a>
                            </li>
                            <li class="navigation__item">
                                <a href="{{registationLink}}" class="navigation__link">
                                    <i class="fa-solid fa-circle-user"></i>
                                    Вход / Регистрация
                                </a>
                            </li>
                            <li class="navigation__item">
                                <a href="#about" class="navigation__link">о проекте</a>
                            </li>
                            <li class="navigation__item">
                                <a href="#advantage" class="navigation__link">преимущества</a>
                            </li>
                            <li class="navigation__item">
                                <a href="#platform" class="navigation__link">платформа</a>
                            </li>
                            <li class="navigation__item">
                                <a href="#team" class="navigation__link">команда</a>
                            </li>
                        </ul>
                    </nav>
                    <a href="{{galleryLink}}" class="footer__button btn--green">Галерея NFT</a>
                </div>
            </header>
            <main>
                <article class="intro container">
                    <div class="intro__heading heading">
                        <div class="intro__name block-name">avocado NFT GROUP</div>
                        <h1 class="intro__title title">
                            <span class="">avonft</span>
                            <span class="">sport</span>
                        </h1>
                        <div class="intro__desc">
                            Первый и единственный русскоязычный маркетплейс NFT для спортсменов, любителей спорта и
                            спортивных организаций
                        </div>
                    </div>
                    <ul class="intro__buttons">
                        <li class="intro__item">
                            <a href="{{galleryLink}}" class="intro__btn btn--green">галерея nft</a>
                        </li>
                        <li class="intro__item">
                            <a href="{{buyTokenLink}}" class="intro__btn btn--green">Купить Avo Token</a>
                        </li>
                    </ul>
                </article>
                <article class="about">
                    <div class="container">
                        <div class="about__heading heading">
                            <a name="about"></a>
                            <div class="about__name block-name">о проекте</div>
                            <h3 class="about__title title">
                                <span class="">avo</span>
                                <span class="">sport</span>
                            </h3>
                        </div>
                        <div class="about__description description">
                            <p>
                                <span class="strong">Маркетплейс AVOSport</span>
                                — это современный инструмент для привлечения цифровых финансов в сферу спортивной
                                деятельности, способствующий развитию материальной базы спортивных организаций,
                                сообществ, дополнительной мотивации спортсменов
                            </p>
                            <p class="description-focus">
                                Наша миссия — реализация нового функционала, расширение сферы применения, знания и
                                культуры NFT рынка России
                            </p>
                            <p>
                                Мы создаем и реализуем высокотехнологичный феномен в области финансов, культуры и
                                социального сектора. Принимаем участие в построении более прозрачных, понятных отношений
                                между людьми на неформальном рынке цифровых активов. Мы хотим предложить людям более
                                удобный способ взаимодействия в криптозоне с быстрым доступом к NFT инструментам,
                                гарантируя при этом соблюдение их законных прав и повышая качество их жизни
                            </p>
                        </div>
                    </div>
                    <picture>
                        <source srcset="images/about-img.webp" type="image/webp" class="about__img">
                        <img src="images/about-img.png" alt="" class="about__img" />
                    </picture>

                </article>
                <article class="benefits container">
                    <a name="advantage"></a>
                    <div class="benefits__name block-name">преимущества avosport</div>

                    <div class="benefits-slider">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="benefits__item">
                                    <div class="benefits__heading">
                                        <div class="benefits__number">1</div>
                                        <picture>
                                            <source srcset="images/benefits-icon_1.webp" type="image/webp" class="benefits__icon">
                                            <img src="images/benefits-icon_1.png" alt="" class="benefits__icon" />
                                        </picture>

                                    </div>
                                    <div class="benefits__content">
                                        <div class="benefits__title">
                                            Первый маркетплейс в Telegram
                                        </div>
                                        <div class="benefits__desc">
                                            AVONFT SPORT — единственный NFT маркетплейс с возможностью взаимодействия в
                                            самом распространенном мессенджере Telegram. Наша платформа предоставляет
                                            полный функционал для покупки, продажи и выпуска своих собственных NFT
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="benefits__item">
                                    <div class="benefits__heading">
                                        <div class="benefits__number">2</div>
                                        <picture>
                                            <source srcset="images/benefits-icon_2.webp" type="image/webp" class="benefits__icon">
                                            <img src="images/benefits-icon_2.png" alt="" class="benefits__icon" />
                                        </picture>
                                    </div>
                                    <div class="benefits__content">
                                        <div class="benefits__title">Полная правовая защита</div>
                                        <div class="benefits__desc">
                                            AVONFT SPORT обеспечивает полную правовую поддержку по защите
                                            интеллектуальной собственности и правообладателей, осуществляя модерацию и
                                            проверку юридической чистоты размещаемых работ.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="benefits__item">
                                    <div class="benefits__heading">
                                        <div class="benefits__number">3</div>
                                        <picture>
                                            <source srcset="images/benefits-icon_3.webp" type="image/webp" class="benefits__icon">
                                            <img src="images/benefits-icon_3.png" alt="" class="benefits__icon" />
                                        </picture>
                                    </div>
                                    <div class="benefits__content">
                                        <div class="benefits__title">Удобство и свобода выбора</div>
                                        <div class="benefits__desc">
                                            В AVONFT SPORT вы можете купить NFT токен без блокчейн кошелька,
                                            воспользовавшись внутренним балансом нашей платформы и в любой момент
                                            вывести его через наш escrow смарт-контракт.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="benefits__item">
                                    <div class="benefits__heading">
                                        <div class="benefits__number">4</div>
                                        <picture>
                                            <source srcset="images/benefits-icon_5.webp" type="image/webp" class="benefits__icon">
                                            <img src="images/benefits-icon_5.png" alt="" class="benefits__icon" />
                                        </picture>
                                    </div>
                                    <div class="benefits__content">
                                        <div class="benefits__title">
                                            Вы можете создать собственные NFT
                                        </div>
                                        <div class="benefits__desc">
                                            Создавайте и продавайте свои NFT:
                                            <ul>
                                                <li>коллекционные карточки спортсменов</li>
                                                <li>коллекционные карточки организаций и сообществ</li>
                                                <li>
                                                    сертификаты организаций и сообществ на привилегированные услуги
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="benefits__item">
                                    <div class="benefits__heading">
                                        <div class="benefits__number">5</div>
                                        <picture>
                                            <source srcset="images/benefits-icon_5.webp" type="image/webp" class="benefits__icon">
                                            <img src="images/benefits-icon_5.png" alt="" class="benefits__icon" />
                                        </picture>
                                    </div>
                                    <div class="benefits__content">
                                        <div class="benefits__title">
                                            Или можете заказать NFT у нас
                                        </div>
                                        <div class="benefits__desc">
                                            Если вам хочется создать красивый и эксклюзивный NFT, но у вас нет на это
                                            времени, команда AVONFT STUDIO может разработать NFT для вас или вашей
                                            организации под ключ
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="benefits__item">
                                    <div class="benefits__heading">
                                        <div class="benefits__number">6</div>
                                        <picture>
                                            <source srcset="images/benefits-icon_6.webp" type="image/webp" class="benefits__icon">
                                            <img src="images/benefits-icon_6.png" alt="" class="benefits__icon" />
                                        </picture>
                                    </div>
                                    <div class="benefits__content">
                                        <div class="benefits__title">Профессиональная команда</div>
                                        <div class="benefits__desc">
                                            Мы постоянно развиваемся и работаем с лидерами крипто-индустрии. Если ты
                                            хочешь создавать будущее вмесете с нами, мы всегда в поиске новых талантов!
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="swiper-pagination benefits-pagination"></div>
                    </div>

                    <ul class="benefits__list">
                        <li class="benefits__item">
                            <div class="benefits__heading">
                                <div class="benefits__number">1</div>
                                <picture>
                                    <source srcset="images/benefits-icon_1.webp" type="image/webp" class="benefits__icon">
                                    <img src="images/benefits-icon_1.png" alt="" class="benefits__icon" />
                                </picture>
                            </div>
                            <div class="benefits__content">
                                <div class="benefits__title">Первый маркетплейс в Telegram</div>
                                <div class="benefits__desc">
                                    AVONFT SPORT — единственный NFT маркетплейс с возможностью взаимодействия в самом
                                    распространенном мессенджере Telegram. Наша платформа предоставляет полный
                                    функционал для покупки, продажи и выпуска своих собственных NFT
                                </div>
                            </div>
                        </li>
                        <li class="benefits__item">
                            <div class="benefits__heading">
                                <div class="benefits__number">2</div>
                                <picture>
                                    <source srcset="images/benefits-icon_2.webp" type="image/webp" class="benefits__icon">
                                        <picture>
                                            <source srcset="images/benefits-icon_2.webp" type="image/webp" class="benefits__icon">
                                            <img src="images/benefits-icon_2.png" alt="" class="benefits__icon" />
                                        </picture>
                                </picture>
                            </div>
                            <div class="benefits__content">
                                <div class="benefits__title">Полная правовая защита</div>
                                <div class="benefits__desc">
                                    AVONFT SPORT обеспечивает полную правовую поддержку по защите интеллектуальной
                                    собственности и правообладателей, осуществляя модерацию и проверку юридической
                                    чистоты размещаемых работ.
                                </div>
                            </div>
                        </li>
                        <li class="benefits__item">
                            <div class="benefits__heading">
                                <div class="benefits__number">3</div>
                                <picture>
                                    <source srcset="images/benefits-icon_3.webp" type="image/webp" class="benefits__icon">
                                    <img src="images/benefits-icon_3.png" alt="" class="benefits__icon" />
                                </picture>
                            </div>
                            <div class="benefits__content">
                                <div class="benefits__title">Удобство и свобода выбора</div>
                                <div class="benefits__desc">
                                    В AVONFT SPORT вы можете купить NFT токен без блокчейн кошелька, воспользовавшись
                                    внутренним балансом нашей платформы и в любой момент вывести его через наш escrow
                                    смарт-контракт.
                                </div>
                            </div>
                        </li>
                        <li class="benefits__item">
                            <div class="benefits__heading">
                                <div class="benefits__number">4</div>
                                <picture>
                                    <source srcset="images/benefits-icon_5.webp" type="image/webp" class="benefits__icon">
                                    <img src="images/benefits-icon_5.png" alt="" class="benefits__icon" />
                                </picture>
                            </div>
                            <div class="benefits__content">
                                <div class="benefits__title">
                                    Вы можете создать собственные NFT
                                </div>
                                <div class="benefits__desc">
                                    Создавайте и продавайте свои NFT:
                                    <ul>
                                        <li>коллекционные карточки спортсменов</li>
                                        <li>коллекционные карточки организаций и сообществ</li>
                                        <li>
                                            сертификаты организаций и сообществ на привилегированные услуги
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="benefits__item">
                            <div class="benefits__heading">
                                <div class="benefits__number">5</div>
                                    <picture>
                                        <source srcset="images/benefits-icon_5.webp" type="image/webp" class="benefits__icon">
                                        <img src="images/benefits-icon_5.png" alt="" class="benefits__icon" />
                                    </picture>
                            </div>
                            <div class="benefits__content">
                                <div class="benefits__title">
                                    Или можете заказать NFT у нас
                                </div>
                                <div class="benefits__desc">
                                    Если вам хочется создать красивый и эксклюзивный NFT, но у вас нет на это времени,
                                    команда AVONFT STUDIO может разработать NFT для вас или вашей организации под ключ
                                </div>
                            </div>
                        </li>
                        <li class="benefits__item">
                            <div class="benefits__heading">
                                <div class="benefits__number">6</div>
                                <picture>
                                    <source srcset="images/benefits-icon_6.webp" type="image/webp" class="benefits__icon">
                                    <img src="images/benefits-icon_6.png" alt="" class="benefits__icon" />
                                </picture>
                            </div>
                            <div class="benefits__content">
                                <div class="benefits__title">Профессиональная команда</div>
                                <div class="benefits__desc">
                                    Мы постоянно развиваемся и работаем с лидерами крипто-индустрии. Если ты хочешь
                                    создавать будущее вмесете с нами, мы всегда в поиске новых талантов!
                                </div>
                            </div>
                        </li>
                    </ul>
                </article>
                <article class="platform">
                    <a name="platform"></a>
                    <div class="container">
                        <div class="platform__heading heading">
                            <div class="platform__name block-name">платформа</div>
                            <h3 class="platform__title title">
                                <span class="">avo</span>
                                <span class="">sport</span>
                            </h3>
                        </div>
                        <div class="platform__description description">
                            <p>
                                AVONFT SPORT — это платформа для токенизации эксклюзивных карточек спортсменов и
                                цифровых сертификатов спортивных организаций, путем генерации NFT.
                            </p>
                            <p>
                                Все наши пользователи получают возможность приобщиться к быстро развивающемуся миру NFT,
                                а спортсмены и организации — создать дополнительную ценность за счёт токенизации своих
                                профессиональных возможностей и заработать на этом!
                            </p>
                        </div>
                        <div class="platform__focus-desc">
                            <picture>
                                <source srcset="images/platform_text.webp" type="image/webp" class="platform__focus-img">
                                <img src="images/platform_text.png" class="platform__focus-img" alt="" />
                            </picture>


                            <picture>
                                <source srcset="images/image1.webp" type="image/webp" class="platform__focus-img-mobile">
                                <img src="images/image1.png" class="platform__focus-img-mobile" alt="" />
                            </picture>

                            Все работы на нашем маркетплейсе созданы в стандарте BEP-1155 и размещены в блокчейне
                            Binance Smart Chain. А купить их можно за внутренний токен нашей платформы — AVO. Наша
                            платформа предоставляет полный функционал для покупки, продажи и выпуска своих собственных
                            NFT
                        </div>
                    </div>
                    <picture>
                        <source srcset="images/platform_bg.webp" type="image/webp" class="platform__img">
                        <img src="images/platform_bg.png" alt="" class="platform__img" />
                    </picture>

                </article>
                <article class="team container">
                    <a name="team"></a>
                    <div class="team__title block-name">команда проекта</div>
                    <div class="team__desc">
                        Мы постоянно развиваемся и ищем новые таланты
                    </div>

                    <div class="team-slider">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="team__item">
                                    <picture>
                                        <source srcset="images/team_1.webp" type="image/webp" class="team__img">
                                        <img src="images/team_1.png" alt="" class="team__img" />
                                    </picture>

                                    <div class="team__profession">ceo</div>
                                    <div class="team__name">Кирилл Тюрин</div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="team__item">
                                    <picture>
                                        <source srcset="images/team_2.webp" type="image/webp" class="team__img">
                                        <img src="images/team_2.png" alt="" class="team__img" />
                                    </picture>
                                    <div class="team__profession">ol</div>
                                    <div class="team__name">Алексей Коваленко</div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="team__item">
                                    <picture>
                                        <source srcset="images/team_4.webp" type="image/webp" class="team__img">
                                        <img src="images/team_4.png" alt="" class="team__img" />
                                    </picture>
                                    <div class="team__profession">clo</div>
                                    <div class="team__name">Георгий Троицкий</div>
                                </div>
                            </div>
                        </div>

                        <div class="swiper-pagination team-pagination"></div>
                    </div>

                    <ul class="team__list">
                        <li class="team__item">
                                    <picture>
                                        <source srcset="images/team_1.webp" type="image/webp" class="team__img">
                                        <img src="images/team_1.png" alt="" class="team__img" />
                                    </picture>
                            <div class="team__profession">ceo</div>
                            <div class="team__name">Кирилл Тюрин</div>
                        </li>
                        <li class="team__item">
                                    <picture>
                                        <source srcset="images/team_2.webp" type="image/webp" class="team__img">
                                        <img src="images/team_2.png" alt="" class="team__img" />
                                    </picture>
                            <div class="team__profession">ol</div>
                            <div class="team__name">Алексей Коваленко</div>
                        </li>
                        <li class="team__item">
                                    <picture>
                                        <source srcset="images/team_4.webp" type="image/webp" class="team__img">
                                        <img src="images/team_4.png" alt="" class="team__img" />
                                    </picture>
                            <div class="team__profession">clo</div>
                            <div class="team__name">Георгий Троицкий</div>
                        </li>
                    </ul>
                </article>
            </main>
        </div>

        <footer class="footer" id="footer">
            <div class="container">
                <div class="footer__information">
                    <a href="" class="footer__logo"><img src="images/logo.svg" alt="" /></a>
                    <div class="footer__desc">
                        <h3 class="footer__title title">
                            <span class="">avo</span>
                            <span class="">sport</span>
                        </h3>
                        <div class="footer__description">
                            Первый и единственный русскоязычный маркетплейс NFT для спортсменов, любителей спорта и
                            спортивных организаций
                        </div>
                        <div class="footer__copyright">
                            (c) Все права защищены. ПАО «Авокадо НФТ», 2022
                        </div>
                    </div>
                </div>
                <div class="footer__navigation">
                    <ul class="footer__nav">
                        <li class="footer__item">
                            <a href="#about" class="footer__nav-link">о проекте</a>
                        </li>
                        <li class="footer__item">
                            <a href="#advantage" class="footer__nav-link">преимущества</a>
                        </li>
                        <li class="footer__item">
                            <a href="#platform" class="footer__nav-link">платформа</a>
                        </li>
                        <li class="footer__item">
                            <a href="#team" class="footer__nav-link">команда</a>
                        </li>
                        <li class="footer__item">
                            <a href="{{galleryLink}}" class="footer__nav-link">галерея</a>
                        </li>
                    </ul>
                    <ul class="footer__nav">
                        <li class="footer__item footer__item--metamask">
                            <a href="" class="footer__nav-link">
                                <picture>
                                    <source srcset="images/fox.webp" type="image/webp">
                                    <img src="images/fox.png" alt="" />
                                </picture>
                                привязать metamask
                            </a>
                        </li>
                        <li class="footer__item">
                            <a href="" class="footer__nav-link">
                                <i class="fa-solid fa-circle-user"></i>
                                Вход / Регистрация
                            </a>
                        </li>
                        <li class="footer__item dark pg-li">
                            <a href="" class="footer__nav-link">Пользовательское соглашение</a>
                        </li>
                        <li class="footer__item partition"></li>
                        <li class="footer__item">
                            <a href="{{buyTokenLink}}" class="footer__nav-link">Avo token</a>
                        </li>
                        <li class="footer__item">
                            <a href="{{avonftLink}}" class="footer__nav-link">Avonft Marketplace</a>
                        </li>
                    </ul>
                </div>
                <div class="footer__contacts">
                    <a href="{{tgBotLink}}" target="_blank" class="footer__transparent-btn">
                                <picture>
                                    <source srcset="images/telegram.webp" type="image/webp">
                                    <img src="images/telegram.png" alt="" />
                                </picture>
                        <span>Telegram бот avonft Sport</span>
                    </a>
                    <ul class="footer__buttons">
                        <li class="">
                            <a href="{{buyTokenLink}}" class="footer__button btn--green">Купить Avo Token</a>
                        </li>
                    </ul>
                    <ul class="footer__links">
                        <li class=""><a href="" class="footer__link">White paper</a></li>
                        <li class="">
                            <a href="" class="footer__link">Правовое регулирование</a>
                        </li>
                    </ul>
                </div>
                <div class="footer__copyright footer__copyright--mobile">
                    (c) Все права защищены. ПАО «Авокадо НФТ», 2022
                </div>
            </div>
        </footer>

        <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
        <script src="https://kit.fontawesome.com/4cfcd34589.js" crossorigin="anonymous"></script>
        <script src="js/main.js"></script>
    </body>
</html>